footer > div {
    font-size: 0.8rem;
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 5px;
}

#category {
    color: black;
    list-style: none;
    padding: 2px;
    background-color: #6f9839;
}

/*高度塌陷*/
#category:after {
    display: block;
    content: '';
    height: 0;
    overflow: hidden;
    clear: both;
}

#category li {
    float: left;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}

#category li:hover {
    background-color: yellow;
    border: 1px solid gray;
    border-radius: 5px;
    /* text-decoration: crimson underline;*/
}

#category li:first-child {
    color: blanchedalmond;
    text-decoration: none;
    cursor: auto;
    background-color: #6f9839;
    border-radius: 0px;
    border: 0px solid gray;
}

#category .active {
    /*color: red;*/
    border: 1px solid gray;
    background-color: greenyellow;
    border-radius: 5px;
}

#category a {
    color: black;
    text-decoration: none;
}

#books ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#books li {
    float: left;
    text-align: center;
    margin: 5px;
}

#books:after {
    display: block;
    content: '';
    height: 0;
    overflow: hidden;
    clear: both;
}

#books img {
    display: inline-block;
    height: 140px;
    width: 120px;
}

#books dt {
    overflow: hidden;
}

#books img:hover {
    /*transform: scale3d(1.2, 1.2, 1.2);*/
    transform: rotate3d(1.0, 1.0, 1.0, 45deg);
    transition: transform linear 0.5s;
}

#week_rank {
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 1.5rem;
}

#week_rank ul, li {
    list-style: none;
    margin: 0;
    padding: 0px;
}

#week_rank h5 {
    text-align: center;
    margin: 0px;
    background-color: powderblue;
    padding: 5px;
}

#week_rank li {
    padding: 5px;
    margin-left: 2px;
}

#week_rank li span:first-child {
    display: inline-block;
    background-color: darkgray;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
}

#week_rank li > #no1 {
    background-color: red;
}

#week_rank li >  #no2 {
    background-color: orangered;
}

#week_rank li >  #no3 {
    background-color: palevioletred;
}

#week_rank li span:last-child{
    position: absolute;
    right: 25px;
}

#user_photo{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}