<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block  subtitle %}首页-{% endblock %}乐看小说网</title>

    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    {% block css %} {% endblock %}
</head>
<body style="font-size: 14px;">
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">我的订单</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/search/">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="作者或书名">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.login_user %}

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <span>
                                    <img class="img-circle"
                                         width="25"
                                         height="25"
                                         src="/static/{{ request.session.login_user.photo }}">
                                </span>{{ request.session.login_user.nickname }} <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">我的收藏</a></li>
                                <li><a href="#">我的订单</a></li>
                                <li><a href="#">通知信息</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/user/logout/">退出登录</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/user/login/">登录</a></li>
                        <li><a href="/user/regist/">注册</a></li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <div>
            <h5>@版本所有 Disen</h5>
            <h5>公安备案： 10019992928181</h5>
            <h5>联系电话： 10019992928181</h5>
        </div>
    </footer>
</div>
<script src="{% static 'base/js/jquery.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
{% block js %} {% endblock %}
</body>
</html>